<div class="flex flex-row items-center w-3/6 text-gray-100 text-xl uppercase font-bold" ...attributes>
  <img src="/euros/assets/svg/flags/{{@team.countryCode}}.svg" class="h-8 mx-2 rounded"/>
  <div>
    {{#if (eq @team.internationalName 'North Macedonia')}}
      N. Macedonia
    {{else}}
      {{@team.internationalName}}
    {{/if}}
  </div>
</div>