<div class="flex -space-x-1 w-3/6" ...attributes>
  {{#each this.players as |player|}}
    <img src="/assets/{{player.image}}" class="inline-block h-8 w-8 rounded-full ring-2 ring-white" title={{player.name}}/>
  {{/each}}
</div>
