  <div class="flex flex-col flex-grow rounded-xl bg-charcoal w-full shadow lg:max-w-2xl p-4 space-y-2">
    <div class="flex flex-row item-center">
      <Euros::FixtureList::Fixture::TeamName @name={{@fixture.homeTeam.internationalName}} class="text-left" />
      <div class="flex flex-col flex-grow text-center text-gray-300">
        vs
      </div>
      <Euros::FixtureList::Fixture::TeamName @name={{@fixture.awayTeam.internationalName}} class="text-right" />
    </div>
    <div class="flex flex-col items-center">
      <div class="text-gray-500 uppercase font-light">
        {{moment-format @fixture.kickOffTime.dateTime 'ddd MMMM DD - HH:mm'}}
      </div>
    </div>
  </div>
