<div class="absolute inset-0 overflow-auto bg-slate">
  <div class="sticky flex flex-row justify-center top-0 p-2 bg-boulder border-b-2 border-worldcup rounded-b-md shadow-sm">
    <embed src="/worldcup/assets/svg/logo.svg" class="max-h-6" />
  </div>
  <div class="flex flex-col flex-1 h-full">
    {{outlet}}
  </div>
</div>
